.page-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 2rem;
  color:purple;
  text-shadow: 1px 1px 2px pink;
}

.section-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color:blue;
  text-shadow: 1px 1px 2px lightcoral;
}

/* Add styles for grid layout */
.item-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.item-logo {
  font-size: 2rem;
  margin-bottom: 10px;
  background-color: lightblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.item-name {
  font-size: 1rem;
  font-weight: bold;
}
